@font-face {
  font-family: 'Noto Sans Thaana';
  font-weight: normal;
  font-style: normal;
  src: url('NotoSansThaana-Regular.ttf')format('truetype');
}
@font-face {
  font-family: 'Noto Sans Thaana';
  font-weight: bold;
  font-style: normal;
  src: url('NotoSansThaana-Bold.ttf')format('truetype');
}

@font-face {
  font-family: 'Noto Sans Thaana';
  font-weight: bold;
  font-style: normal;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-007F;
}
@font-face {
  font-family: 'Noto Sans Thaana';
  font-weight: normal;
  font-style: normal;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-007F;
}