extends layout

block content
	div(class='jumbotron')
		div(class='container' ng-controller='search')
			div(class='columns')
				div(class='one-half column centered')
					input(class='input-block' type='text' ng-model='query' ng-enter='getResults()' autofocus)
				div(class='one-half column centered group')
					button(class='btn btn-primary' ng-click='getResults()')
						|search
					button(class='btn next')
						|toggle keyboard
	div(class='container')
		div(class='columns')
			div(class='two-thirds column' ng-controller='searchResults')
				h4
					|{{meta}}
				div(class='ui list')
					div(class='item' ng-repeat='result in results')
						div(class='content')
							a(class='header')
								|{{result._source.r_title}}
							div(class='description normalize')
								p(ng-bind-html='result.highlight | excerpt_html')
			div(class='one-third column' ng-controller='crawlerFeed')
				h4
					|Recently Indexed
				div(class='ui list')
					div(class='item normalize' ng-repeat='item in updates')
						div(class='content')
							a(class='header hash')
								|{{item.data}}
							div(class='description')
								span(am-time-ago='item.time')
								span(am-time-ago="message.time" am-preprocess="unix")