extends layout

block content
	div(class='jumbotron')
		div(class='container' ng-controller='search')
			div(class='columns')
				div(class='one-half column centered')
					input(class='input-block' type='text' ng-model='query' ng-enter='getResults()' autofocus)
				div(class='one-half column centered group')
					button(class='btn btn-primary' ng-click='getResults()')
						|search
					button(class='btn next')
						|advanced
	div(class='container')
		div(class='columns')
			div(class='two-thirds column' ng-controller='feed')
				div(class='ui items')
					div(class='item' ng-repeat='item in items')
						div(class='content')
							a(class='header thaana')
								|{{item.title}}
							div(class='meta')
								span(class='url')
									|{{item.url}}
							div(class='description item-description thaana')
								p
									|{{item.intro}}
								p(ng-bind-html='item.main | html')
							div(class='extra')
								div(class='ui blue label')
									|<i class="fa fa-history"></i>	{{item.hash}}
			div(class='one-third column' ng-controller='crawlerFeed')
				h4
					i(class='fa fa-clock-o')
					|	Recently Indexed
				div(class='ui list')
					div(class='item normalize' ng-repeat='item in updates')
						div(class='content')
							a(class='header hash')
								|{{item.data}}
							div(class='description')
								span(am-time-ago='item.time')
								span(am-time-ago="message.time" am-preprocess="unix")
	div(class='ui clearing divider')
	div(class='container')
		div(class='columns')
			div(class='column' ng-controller='searchResults')
				h4
					|{{meta}}
				div(class='ui list')
					div(class='item result-item' ng-repeat='result in results')
						div(class='content')
							a(class='header')
								|{{result.title}}
							div(class='description result-description')
								p(ng-bind-html='result.excerpt | html')