extends layout

block content
	div(class='jumbotron')
		div(class='container')
			h1(class='thaana')
				|<strong>ހަވީރު އެގްޒާމިނާ</strong>
			p(class='thaana')
				|ހަވީރުގެ އިންޓެގްރިޓީ ބަލަހައްޓައިދޭ އެޕެއް
	div(class='container')
		div(class='columns')
			div(class='one-half column')
			div(class='one-half column')