doctype html
html
	head
		title= title + ' | Haveeru Examiner'
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/font-awesome-4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript' src='/javascripts/jquery.min.js')
		script(type='text/javascript' src='/bootstrap/js/bootstrap.min.js')
		script(type='text/javascript' src='/javascripts/main.js')
	body
		nav(class='navbar navbar-default')
			div(class='container-fluid')
				div(class='navbar-header')
					a(class='navbar-brand', href='#')
						img(alt='haveeruexaminer', src='/graphics/logo/drawing23.png')
		block content
