doctype html
html
	head
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		title= title + ' | Haveeru Examiner'
		link(rel='stylesheet', href='/stylesheets/v2.css')
		link(rel='stylesheet', href='/fonts/lato/lato.css')
		link(rel='stylesheet' href='/javascript/app/bower_components/ngprogress/ngProgress.css')
		script(type='text/javascript', src='/javascript/jquery.min.js')
		script(type='text/javascript', src='/custom_bs/js/bootstrap.min.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/javascript/angular.min.js')
		script(type='text/javascript', src='/javascript/app/bower_components/moment/min/moment.min.js')
		script(type='text/javascript', src='/javascript/app/bower_components/angular-moment/angular-moment.min.js')
		script(type='text/javascript', src='/javascript/app/bower_components/ngprogress/build/ngprogress.min.js')
		script(type='text/javascript', src='/javascript/app/services.js')
		script(type='text/javascript', src='/javascript/app/main.js')
    script(type='text/javascript', src='/javascript/analytics.js')

	body(ng-app='main' ng-controller='primary' ng-class='bgCover')
		block head
		block content
		block foot
			footer(class='footer')
				div(class='container')
					div(class='row')
						div(class='col-md-12')
							|Developed by Rabaah and Umran<br>
							|<strong>Currently v1.1.0</strong>
						//div(class='col-md-4')
							div.irukandjilabs
								img(class='pull-right' src='graphics/irukandjilabs/logo/logo48-alt.svg')
