extends layout

block content
	div(class='ui page grid')
		div(class='two column row')
			div(class='column')
				div(class='ui relaxed list')
					each qn in data
						div(class='item')
							div(class='content')
								a(class='header')=qn
			div(class='column')