@import url(/stylesheets/primer-bootstrap.css);

.thaana {
	direction: rtl;
}

.latin {
	direction: ltr;
}

.group {
	padding-top:10px;
}

.next {
	margin-left:10px;
}

.normalize {
	font-size:0.75em;
}

.hash {
	white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
}

.ui.list>.result-item {
	padding-bottom: 30px; 
}

.ui.list>.result-item .result-description {
	padding-top: 5px;
}

#feed {
	max-height: 330px;
	overflow: scroll;
}

.ui.items>.item>.content>.item-description {
	height: 50px; 
  overflow: hidden;
}