@import url(/fonts/octicons/octicons.css);
@import url(/fonts/thaana/thaana.css);
@import url(/custom_bs/css/bootstrap.css);
@import url(/stylesheets/markdown.css);

/* Layout Classes */

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Noto Sans Thaana';
	margin-bottom: 9rem;
}

.bg-cover {
	background: url('/graphics/ot.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.no-bg-cover {
	background-image: none;
}

.footer {
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 9rem;
	padding-top:2rem;
	padding-bottom:2rem;
	line-height:1.75;
	color:#333;
}

/* Bootstrap Overrides */

.navbar-default {
	font-size: 1.25rem;
}

@media (min-width: 768px) {
	.navbar-collapse{
		padding-right: 0;
		padding-left: 0;
	}
}

/* Helper Classes */

.home-btn-group {
	padding-top: 10px;
}

.btn-is-next {
	margin-left: 10px;
}

.centered {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.text-success{
	color: #00591E;
}

.thaana {
	font-family: 'Noto Sans Thaana';
	direction: rtl;
}

.thaana-text {
	font-family: 'Noto Sans Thaana';
	text-align: right;
	line-height: 1.5;
}

.results {
	margin-top: 0;
}

/* Separate Cover from Feed */

.cover {
	height: 100vh;
}

/* Feed */

.feed {
    padding-top: 0;
    padding-bottom: 20px;
}

.post {
	padding-top: 0;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
}

.panel {
	margin-bottom: 0;
	color: #333;
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.panel-default>.panel-heading {
	background-image: none;
	background-color: transparent;
	padding-top: 10px;
	background-repeat: repeat-x;
	color: #333;
	border: none;
	box-shadow: none;
}

.panel-heading {
	border: none;
	padding: 0;
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 14px;
	color: inherit;
}

.post-meta-summary {
	line-height: 1.4;
	vertical-align: middle;
}

.post-meta-link-author {
	color: #00591E;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	vertical-align: top;
}

.post-meta-supplemental {
	vertical-align: baseline;
	display: block;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgba(0,0,0,.44);
}

.panel-body {
	padding: 0;
	overflow: hidden;
}

.post-title {
	font-size: 18px;
	margin-top: 0;
}

.post-body {
	font-size: 14px;
	padding-top: 0;
	margin: 0;
	color: rgba(0,0,0,0.8);
}

.searchBar {
	margin-bottom: 20px;
}

.header {
	margin-top: 0;
}

.result-body {
	margin-top:5px;
}

/* inflate thaana headings and paragraphs */
.thaana-text .media-heading {
	font-size: 22px;
}

.thaana-text .result-body {
	font-size: 18px;
}

.alert-header {
	margin-top: 0;
}

.article-heading {
	margin-bottom: 5px;
}

.article-heading {
	margin-bottom: 5px;
}

.article-body {
	margin-top: 15px;
}

/* Irukandji Labs */
.irukandjilabs {

}

.irukandjilabs>img {
	height: 48px;
}